/*-- scss:defaults --*/

// Colors
/* Found on https://coolors.co/palettes/trending */
$fl-blue-4: #283E82;
$fl-blue-3: #077DC2;
$fl-blue-2: #01BAEF;
$fl-blue-1: #5DDBFE;
$fl-orange-4: #EB6534;
$fl-orange-3: #FF9B00;
$fl-orange-2: #F9B000;
$fl-orange-1: #FFD879;

/* generally useful other colors */
$white: #ffffff;
$cream: #F4F3EE;
$black: #000000;
$charcoal: #191919;
$gray-1: #8A817C;
$gray-2: #BCB8B1;
$gray-3: #d6d6d6;

// Fonts
$font-size: 25px;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

// Base document colors
$navbar-bg: $gray-1; // navbar
$navbar-fg: $black; // navbar foreground elements
$navbar-hl: $gray-3; // highlight color when hovering on a page
$sidebar-bg: $gray-1; // sidebar
$sidebar-fg: $charcoal; // sidebar foreground elements
$body-bg: $charcoal; // page background
$body-color: $cream; // page text
$footer-bg: $gray-1; // footer
$footer-fg: $gray-3; // footer text
$link-color: $fl-orange-3; // hyperlinks

// Code text
$code-bg: $gray-2; // inline code background color
$code-color: $charcoal; // inline code text color
$code-block-bg: $gray-2; // code block background color

/*-- scss:rules --*/

// Underline URLs
.reveal .slide a { text-decoration: underline; }

// Improve background contrast for code chunk ouput
pre code:not(.sourceCode) { background-color: $gray-2; }
